body {
    margin: 0;
}

h1 {
    font-weight: 1.5em;
}

#sidebar {
    position: fixed;
    width: 500px;
    background-color: rgb(0,0,0,0.2);
    height: 100vh;
    padding: 0.5rem;
}

#month-input, #year-input {
    width: 150px;
}

#sensor-input {
    width: 300px;
}

#controls {
    width: 70%;
}

#controls > * {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}


/* grid: rows / cols */
#content {
    margin-left: 500px;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
}

#sensor-traffic {
    grid-column-start: 1;
    grid-column-end: span col2-start;
}
